
:root {
	/* color variables */
	--icon-neutral-on-neutral: var(--slate-100);
	--slate-100: #f3f3f3;

	/* number variables */
	--spacing-s: 24px;
	--spacing-xs: 8px;
	--spacing-sm: 32px;
	--spacing-m: 48px;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

* {
	--min-screen-size: 430;
	--interpolate-diff: calc(var(--max-font-size) - var(--min-font-size));
	--interpolate: clamp(calc(var(--min-font-size) * 1px), calc((var(--min-font-size) * 1px) + var(--interpolate-diff) * ((100vw - calc(var(--min-screen-size) * 1px)) / (var(--max-screen-size) - var(--min-screen-size)))), calc(var(--max-font-size) * 1px));
}

html {
	height: 100%;
	font-size: 16px;
}

body {
	position: relative;
	min-height: 100%;
	color: #000;
	font-family: 'Inter';
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0px;
	overflow: auto;
	--hSizing: FILL;
	--vSizing: FILL;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: STRETCH;
}



/* text utility classes */

.title1 {
	--min-font-size: 35; --max-font-size: 64; font-size: var(--interpolate);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -1.27px;
}

.small-text {
	color: #828282;
	font-size: 16px;
	font-style: normal;
	letter-spacing: 0px;
}

.subtitle1 {
	--min-font-size: 20; --max-font-size: 32; font-size: var(--interpolate);
	font-weight: 600;
}

.text2 {
	font-size: 36px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0px;
}

.subtitle3 {
	--min-font-size: 24; --max-font-size: 32; font-size: var(--interpolate);
}

.title2 {
	--min-font-size: 34; --max-font-size: 48; font-size: var(--interpolate);
}

.subtitle2 {
	--min-font-size: 26; --max-font-size: 36; font-size: var(--interpolate);
	font-family: 'Inter';
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0px;
}

.body-text2 {
	color: #fff;
	font-size: 20px;
	font-style: normal;
	letter-spacing: 0px;
}

.subtitle-black {
	color: #000;
	--min-font-size: 27; --max-font-size: 48; font-size: var(--interpolate);
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.95px;
}

.text1 {
	font-size: 20px;
	font-style: normal;
	letter-spacing: 0px;
}

.body-text3 {
	--min-font-size: 16; --max-font-size: 20; font-size: var(--interpolate);
	font-style: normal;
	letter-spacing: 0px;
}

.subheading {
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
}

.body-text1 {
	--min-font-size: 16; --max-font-size: 20; font-size: var(--interpolate);
	font-style: normal;
}



/* section utility classes */

.section {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 0 80px;
}



/* ui objects utility classes */

.btn-black {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	display: flex;
	background-color: #000;
	padding: 16px 32px;
	border-radius: 8px;
}

.input-white {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	padding: 11px 15px 0 15px;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
}



/* button hover utility classes */

.hover-zoom:hover {
	scale: 1.05;
}

.hover-bright:hover {
	filter: brightness(1.2);
}

.hover-dark:hover {
	filter: brightness(0.85);
}

.img-a {
	position: absolute;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border: 1px solid #060606;
	border-radius: 8px;
	--minContent: 464;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}



/* btn-a */

.btn-a {
	position: absolute; top: 36px; 
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	width: 90px;
	display: flex;
	justify-content: center;
	gap: 9px;
	font-style: normal;
	letter-spacing: 0px;
	text-align: left;
	padding: 8px 6px 10px 6px;
	border: 4px solid #fff;
	border-radius: 4px;
	--minContent: 90;
	--hSizing: FIXED;
	--vSizing: HUG;
	--pConstraintHorizontal: MAX;
	--pConstraintVertical: MIN;
}

.btn-icon {
	margin-top: 7px;
	width: 15px;
	flex-shrink: 0;
	--minContent: 15;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}

.btn-label {
	--minContent: 38;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}
/* end btn-a*/


.title {
	color: #000;
	--min-font-size: 23; --max-font-size: 40; font-size: var(--interpolate);
	font-weight: 600;
	line-height: 1.2;
	--minContent: 515;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.subtitle-a {
	color: #828282;
	--min-font-size: 17; --max-font-size: 24; font-size: var(--interpolate);
	font-style: normal;
	font-weight: 400;
	text-align: left;
	--minContent: 515;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.subtitle-b {
	color: #000;
	--min-font-size: 17; --max-font-size: 24; font-size: var(--interpolate);
	font-weight: 500;
	--minContent: 515;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.text-a {
	color: #828282;
	--min-font-size: 16; --max-font-size: 20; font-size: var(--interpolate);
	font-weight: 400;
	--minContent: 515;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.line {
	height: 0;
	flex-shrink: 0;
	--minContent: 832;
	--hSizing: FILL;
	--vSizing: FIXED;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}
