
* {
	--max-screen-size: 1440;
}

body {
	display: flex;
	flex-direction: column;
	gap: 23px;
	background-color: #fff;
	--minContent: 1440;
}

.card-text {
	font-size: 20px;
	font-style: normal;
	text-align: left;
	--minContent: 308;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.img1 {
	top: 223px; left: 37px; 
	width: calc(100% - 74px);
	max-width: 710px;
}

.header {
	position: relative;
	height: 164px;
	flex-shrink: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	background-color: #42ffc0;
	--minContent: 0;
	--hSizing: FILL;
	--vSizing: FIXED;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.header-shopping-cart-a {
	position: absolute;
	--minContent: 30;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: MAX;
	--pConstraintVertical: MIN;
}

.header-text {
	position: absolute; top: 67px; left: 80px; 
	text-align: left;
	--minContent: 78;
	--hSizing: HUG;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}

.header-arrow-left1 {
	top: 45px; right: 215px; 
	width: 30px;
}

.header-shopping {
	top: 40px; right: 143px; 
	width: 44px;
}

.btn1 {
	right: 22px; 
}

.copy1 {
	margin-left: 771px; margin-top: 69px;
	width: 36%; height: 434px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--spacing-s);
	flex-shrink: 0;
	align-self: center;
	--minContent: 1286;
	--hSizing: FILL;
	--vSizing: FIXED;
	--pConstraintHorizontal: SCALE;
	--pConstraintVertical: MIN;
}

.copy-btn-a {
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0px;
	text-align: center;
	background-color: #000;
	padding: 14px 24px;
	border-radius: 8px;
	--minContent: 515;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.copy-title {
	color: unset;
}

.copy-subtitle4 {
	color: unset;
}

.subtitle-productos {
	margin: 144px 80px 0 80px;
	--minContent: 1440;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.card-grid {
	margin: 0 auto;
	width: 90%;
	max-width: 1232px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	align-content: flex-start;
	row-gap: 32px;
	align-self: center;
	font-size: 24px;
	font-weight: 500;
	padding-bottom: 8px;
	overflow: hidden;
	--minContent: 1184;
	--hSizing: FIXED;
	--vSizing: HUG;
	--pConstraintHorizontal: CENTER;
	--pConstraintVertical: MIN;
}



/* card-a */

.card-a {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	flex-shrink: 0;
	--minContent: 308;
	--hSizing: FIXED;
	--vSizing: HUG;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MAX;
}

.card-img1 {
	flex-shrink: 0;
	--minContent: 300;
	--hSizing: FIXED;
	--vSizing: FIXED;
	--pConstraintHorizontal: MIN;
	--pConstraintVertical: MIN;
}

.card-copy1 {
	height: 104px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4px;
	flex-shrink: 0;
	align-self: stretch;
	--minContent: 308;
	--hSizing: FILL;
	--vSizing: FIXED;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}

.card-subtitle1 {
	--minContent: 308;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MIN;
}
/* end card-a*/


.card1 {
	max-width: 308px;
}

.card1 .card-img1 {
	width: 300px;
}

.card1 .card-text1 {
	color: #828282;
}

.card2 {
	max-width: 329px;
}

.card2 .card-img1 {
	width: 100%;
	max-width: 314px;
}

.card2 .card-text1 {
	color: #828282;
}

.card3 {
	width: 275px;
}

.card3 .card-img1 {
	width: 222px;
}

.card3 .card-copy1 {
	height: 126px;
}

.card3 .card-text1 {
	color: #828282;
}

.card4 {
	max-width: 323px;
}

.card4 .card-img1 {
	width: 300px;
}

.card4 .card-text1 {
	color: #828282;
}

.card5 {
	max-width: 338px;
}

.card5 .card-img1 {
	width: 306px;
}

.card5 .card-text1 {
	color: #828282;
}

.card6 {
	width: 234px;
}

.card6 .card-img1 {
	width: 166px;
}

.card6 .card-copy1 {
	height: 134px;
}

.card6 .card-text1 {
	color: #828282;
}

.footer {
	margin-top: 1px;
	background-color: #18f3aa;
	padding-bottom: 263px;
	--minContent: 992;
	--hSizing: FILL;
	--vSizing: HUG;
	--pConstraintHorizontal: STRETCH;
	--pConstraintVertical: MAX;
}

.footer-line {
	border-top: 1px solid #1a1a1a;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.copy1 {
		margin-inline: var(--margin-md);
	}
	.subtitle-productos {
		margin-inline: var(--margin-md);
	}
}

@media screen and (max-width: 576px) {
	.copy1 {
		margin-inline: var(--margin-sm);
	}
	.subtitle-productos {
		margin-inline: var(--margin-sm);
	}
}
